body {
    padding: 25px;
}

.container {
    width: 50%;
    position: relative;
    height: 600px;
    border: 1px solid #ccc;
    padding: 0px;
    margin: 0px;
}

.token.important {
    color: red;
}

.token.property {
    font-weight: bold;
    text-decoration: underline;
}