html { 
    height:100%; 
}
body { 
    height:calc(100% - 26px); 
    padding: 5px;
    margin: 0px;
}
#outer{
    height: 100%;
}

#inner_free{
    display: flex;
    height: 100%;
}

.container {
    width: 50%;
    height: calc(100% - 11px);
    position: relative;
    border: 1px solid #ccc;
    padding: 0px;
    margin: 5px;
}

.token.important {
    color: red;
}

.token.property {
    font-weight: bold;
    text-decoration: underline;
}

.codeflask__textarea::selection{
    background: lightgray;
    color: lightgray;
}